page {
  background: #f5f6fa;
}

.container {
  padding: 16px;
  background: #f5f6fa;
  width: 720px;
}

.container .header {
  width: 100%;
  height: 266px;
  background: #dfe5ee;
  opacity: 1;
  font-size: 0px;
}

.container .header .headPic {
  vertical-align: top;
  display: inline-block;
  width: 128px;
  height: 214px;
}

.container .header .headPic .pic {
  display: inline-block;
  margin-top: 32px;
  margin-left: 32px;
  width: 96px;
  height: 96px;
  background: #f5f6fa;
  border-radius: 50%;
  opacity: 1;
  overflow: hidden;
}

.container .header .headPic .pic .photo {
  width: 96px;
  height: 96px;
}

.container .header .nickName {
  vertical-align: top;
  display: inline-block;
  width: 432px;
  height: 214px;
}

.container .header .nickName .name {
  margin-left: 16px;
  margin-top: 30px;
  width: 100%;
  height: 40px;
  font-size: 40px;
  font-weight: bold;
}

.container .header .motto {
  width: 100%;
  height: 52px;
}
