page {
    background:rgba(245,246,250,1);
}



.container {
    .head {
        background:radial-gradient(circle,rgba(0,183,191,1) 0%,rgba(85,255,214,1) 100%);
        opacity: 1;
        padding: 32px;
        .info {
            .userInfoWrapper {
                display: flex;
                .img {
                    width: 96px;
                    height: 96px;
                    border-radius: 50%;
                    background:rgba(245,246,250,1);
                }
                .userInfo {
                    margin-left: 16px;
                    .name {
                        font-size:40px;
                        color:rgba(255,255,255,1);
                        font-weight:bold;
                        height: 45px;
                    }
                    .authenticationWrapper {
                        margin-top: 16px;
                        display: flex;
                        .identityAuthentication {
                            background:rgba(245,246,250,0.3);
                            border-radius:16px;
                            display: flex;
                            align-items: center;
                            padding: 4px 16px 4px 4px;
                            .identityAuthenticationImg {
                                width: 24px;
                                height: 24px;
                            }
                            .text {
                                font-size:24px;
                                color:rgba(255,255,255,1);
                                margin-left: 8px;
                            }
                        }
                        .realNameAuthentication {
                            background:rgba(245,246,250,0.3);
                            border-radius:16px;
                            display: flex;
                            align-items: center;
                            padding: 4px 16px 4px 4px;
                            margin-left: 16px;
                            .realNameAuthenticationImg {
                                width: 24px;
                                height: 24px;
                            }
                            .text {
                                font-size:24px;
                                color:rgba(255,255,255,1);
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }
        }

        .signWrapper {
            margin-top: 36px;
            display: flex;
            .imgWrapper {
                .img {
                    width: 36px;
                    height: 36px;
                }
            }
            .sign {
                margin-left: 6px;
                font-size:24px;
                color:rgba(255,255,255,.87);
            }
        }

        
    }

    .selectWrapper {
        background-color: #fff;
        display: flex;
        margin:  0 0 16px 0;
        .item {
            flex: 1;
            text-align: center;
            padding: 26px 0;
            font-size:28px;
            opacity:0.54;
            position: relative;
            .line {
                bottom: 10px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width:64px;
                height:8px;
                background:rgba(43,219,203,1);
                opacity:1;
                border-radius:4px;
            }
        }
        .select {
            opacity:0.87;
            font-size:28px;
            font-weight:bold;
        }
    }


    .contentWrapper {
        overflow: hidden;
        .imgWrapper {
            margin-top: 160px;
            text-align: center;
            .notIdentityAuthentication {
                width:240px;
                height:240px;
                background-color: #fff;
            }
        }
        .text {
            font-size:28px;
            color:rgba(0,0,0,1);
            opacity:0.54;
            text-align: center;
            margin-top: 32px;
        }
    }

    .identityInfoWrapper {
        padding: 32px 24px 24px 24px;
        background: #fff;
        .title {
            font-size:28px;
            color:rgba(0,0,0,0.87);
        }
        .content {
            margin-top: 26px;
            display: flex;
            position: relative;
            .left {
                .img {
                    width: 64px;
                    height: 64px;
                    background: #999;
                    border-radius: 50%;
                }
            }
            .right {
                margin-left: 16px;
                .schoolName {
                    font-size:28px;
                    font-weight:bold;
                    color:rgba(0,0,0,0.87);
                }
                .position {
                    font-size:24px;
                    color:rgba(0,0,0,0.87);
                }
            }
            .size {
                right: 0;
                position: absolute;
                padding: 6px;
                font-size:20px;
                color:rgba(255,255,255,0.87);
                background:rgba(112,161,255,1);
                border-radius: 8px;
            }
        }
        .school {
            font-size:24px;
            margin-top: 34px;
            color:rgba(0,0,0,0.87);
        }
        .type {
            margin-top: 6px;
            font-size:24px;
            color:rgba(0,0,0,0.87);
        }
    }

    .concatInfoWrapper {
        background: #fff;
        margin: 16px 0;
        padding: 32px;
        display: flex;
        justify-content: space-between;
        .link {
            color:rgba(0,0,0,0.84);
            font-size: 28px;
            font-weight: bold;
        }
        .look {
            text-align: right;
            color:rgba(0,0,0,0.54);
            font-size: 24px;
        }
    }
    .RecommendWrapper {
        background: #fff;
        padding: 32px;
        .RecommendHead {
            display: flex;
            justify-content: space-between;
            .link {
                color:rgba(0,0,0,0.84);
                font-size: 28px;
                font-weight: bold;
            }
            .look {
                text-align: right;
                color:rgba(0,0,0,0.54);
                font-size: 24px;
            }
        }
        .Recommendcontent {
            margin-top: 26px;
            display: flex;
            position: relative;
            .Recommendleft {
                .Recommendimg {
                    width: 64px;
                    height: 64px;
                    background: #999;
                    border-radius: 50%;
                }
            }
            .Recommendright {
                margin-left: 16px;
                .RecommendschoolName {
                    font-size:28px;
                    font-weight:bold;
                    color:rgba(0,0,0,0.87);
                }
                .Recommendposition {
                    font-size:24px;
                    color:rgba(0,0,0,0.87);
                }
            }
            .Recommendsize {
                right: 0;
                position: absolute;
                padding: 6px;
                font-size:20px;
                color:rgba(255,255,255,0.87);
                background:rgba(112,161,255,1);
                border-radius: 8px;
            }
        }
    }

    .activeWrapper {
        padding: 24px 16px;
        .goingWrapper {
            .title {
                color:rgba(0,0,0,0.87);
                font-size: 28px;
            }
            .wrapper {
                background-color: #fff;
            }
            .content {
                position: relative;
                overflow: hidden;
                margin: 16px auto;
                background: #fff;
                padding: 24px;
                .contentHead {
                    display: flex;
                    .title {
                        white-space:nowrap;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        max-width: 512px;
                        font-size:32px;
                        color:rgba(0,0,0,1);
                    }
                    .tagContainer {
                        display: flex;
                        float: right;
                        margin-left: 16px;
                        .contentTag {
                            margin: 0 10px;
                            white-space:nowrap;
                            background:rgba(223,229,238,1);
                            border-radius:8px;
                            padding: 6px 8px;
                            font-size:20px;
                            color:rgba(255,255,255,1);
                        }
                        .red {
                            background:rgba(255,107,129,1);
                        }
                        .green {
                            background:rgba(123,237,159,1);
                        }
                        .blue {
                            background:rgba(112,161,255,1);
                        }
                    }
                }
                .address {
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    margin-top: 32px;
                    font-size:24px;
                    color: #000;
                }
                .contentBottom {
                    margin-top: 16px;
                    .timer {
                        font-size:24px;
                        color: #000;
                    }
                    .money {
                        right: 16px;
                        bottom: -8px;
                        position: absolute;
                        float: right;
                        font-weight:bold;
                        line-height:54px;
                        color:rgba(0,0,0,1);
                        font-size: 32px;
                        margin: 16px;
                    }
                }
            }
            .divider {
                margin: 16px 24px;
                height:0px;
                border:2px solid rgba(245,246,250,1);
            }
            .textWrapper {
                padding: 0 24px 16px 24px;
                font-size:24px;
                color:rgba(0,0,0,0.54);
                display: flex;
                .at-input {
                    margin: 0;
                    padding: 5rpx 0 5rpx 16rpx;
                    background:rgba(245,246,250,1);
                    border-radius:16px;
                    .at-input__input {
                        width: 635rpx;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}