@import "~taro-ui/dist/style/components/icon.scss";
page {
    background:rgba(245,246,250,1);
}

.container {
    .head {
        background-color: #fff;
        padding: 0 32px;
        height: 648px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .item {
            flex: 1;
            display: flex;
            align-items: center;
            .title {
                font-size:24px;
                color:rgba(0,0,0,1);
                opacity:0.87;
                flex-grow: 1;
            }
            .link {
                flex-grow: 9;
            }
            .info {
                display: flex;
                align-items: center;
                text-align: right;
                flex-grow: 9;
                flex-direction: row-reverse;
                .text {
                    color:rgba(153,153,153,1);
                    font-size: 24px;
                    margin-left: 8px;
                }
                .at-icon {
                    margin-bottom: 5rpx;
                }
                .radioWrapper {
                    display: flex;
                    align-items: center;
                    .radio {
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                        border:2px solid rgba(153,153,153,1);;
                        display: flex;
                        margin-left: 36px;
                        .cicle {
                            margin: auto;
                            width:16px;
                            height:16px;
                            background:rgba(67,239,209,1);
                            border-radius:50%;
                        }
                    }
                    .check {
                        border:2px solid rgba(67,239,209,1);
                    }
                    .text {
                        color:rgba(153,153,153,1);
                        font-size: 24px;
                        margin-left: 8px;
                    }
                }
                .picker {
                    width: 100%;
                    .pickerText {
                        margin-right: 8px;
                        color:rgba(0,0,0,1);
                        opacity:0.38;
                        font-size: 24px;
                    }
                }
                .at-input {
                    font-size: 24px;
                    color:rgba(0,0,0,1);
                    opacity:0.38;
                    padding: 0;
                    &::after {
                        border: none;
                    }
                }
            }
        }
    }
    .btnWrapper {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        .btn {
            letter-spacing: 10px;
            text-align: center;
            line-height: 80px;
            width:656px;
            height:80px;
            background:rgba(67,239,209,1);
            border-radius:8px;
            color:rgba(255,255,255,0.87);
            font-size: 32px;
        }
    }
}