@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/textarea.scss";
page {
    background:rgba(245,246,250,1);
}


.container {
    .head {
        background-color: #fff;
        padding: 0 32px;
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .item {
            flex: 1;
            display: flex;
            align-items: center;
            .title {
                font-size:24px;
                color:rgba(0,0,0,1);
                opacity:0.87;
                flex-grow: 1;
            }
            .info {
                display: flex;
                align-items: center;
                text-align: right;
                flex-grow: 9;
                flex-direction: row-reverse;
                .picker {
                    width: 100%;
                    .pickerText {
                        margin-right: 8px;
                        color:rgba(0,0,0,1);
                        opacity:0.38;
                        font-size: 24px;
                    }
                }
                .logo {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    margin-right: 16px;
                }
                .at-input {
                    font-size: 24px;
                    color:rgba(0,0,0,1);
                    opacity:0.38;
                    padding: 0;
                    &::after {
                        border: none;
                    }
                }
                .placeholder {
                    font-size: 24px;
                }
            }
        }
    }
    .textWrapper {
        background-color: #fff;
        padding: 32px;
        margin-top: 32px;
    }
    .btnWrapper {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        .btn {
            text-align: center;
            line-height: 80px;
            width:656px;
            height:80px;
            background:rgba(223,229,238,1);
            border-radius:8px;
            color:rgba(0,0,0,1);
            opacity:0.87;
            font-size: 32px;
        }
    }
}